*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* HEADER  */

.header-section {
    border-bottom: 1px solid rgba(255, 255, 255, 0.102);
    padding: 21px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #dbe2fb;
    line-height: 28px;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    background: #001232;
}
.header-wrapper .logo a img {
    max-width: 100%;
}
img {
    border-style: none;
    vertical-align: middle;
}
ul {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
ul li {
    list-style: none;
    padding: 5px 0;
}
.header-wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
a {
    text-decoration: none;
    background-color: transparent;
    display: inline-block;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    translate: 0.3s
}
a:hover{
    text-decoration: none;
}
.menu-item-has-children > a::after {
    content: "\f107";
    font-weight: 600;
    font-family: "Font Awesome 5 Free";
    margin-left: 5px;
}
@media (min-width: 992px) {
    .header-wrapper .menu > li > a {
        position: relative;
    }
}
@media (min-width: 992px) {
    .header-wrapper .menu li a {
        color: #e9eeff;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 5px;
    }
}
@media (min-width: 992px) {
    .header-wrapper .menu li .submenu {
        position: absolute;
        top: 100%;
        left: 6px;
        background: #ffffff;
        min-width: 240px;
        padding: 20px 0;
        -webkit-box-shadow: 0px 0px 11.7px 1.3px rgba(0, 0, 0, 0.08);
        box-shadow: 0px 0px 11.7px 1.3px rgba(0, 0, 0, 0.08);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all ease 0.3s;
        transition: all ease 0.3s;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
}
@media (min-width: 992px) {
    .header-wrapper .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
@media (max-width: 991px) {
    .header-wrapper .menu li {
        width: 100%;
        padding: 0;
    }
}
@media (min-width: 992px) {
    .header-wrapper .menu li {
        padding: 5px 12px;
        position: relative;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .header-wrapper .menu li {
        padding: 5px;
    }
}
@media (min-width: 992px) {
    .header-wrapper .menu li {
        padding: 5px 12px;
        position: relative;
    }
}
@media (min-width: 992px) {
    .header-wrapper .menu li .submenu::before {
        position: absolute;
        content: "";
        top: 0;
        left: 15px;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        width: 0;
        height: 0;
        border: 10px solid #ffffff;
        border-bottom-width: 15px;
        border-right-color: transparent;
        border-left-color: transparent;
        border-top-color: transparent;
    }
}
@media (min-width: 992px) {
    .header-wrapper .menu li:hover > .submenu {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        display: block !important;
    }
}
@media (min-width: 992px) {
    .header-wrapper .menu li .submenu li a {
        text-transform: capitalize;
        font-weight: 600;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: #292929;
    }
}
@media (min-width: 992px) {
    .header-wrapper .menu li .submenu li a:hover , .header-wrapper li:hover {
        padding-left: 10px;
        /* padding-right: 10px; */
        color: #31d7a9;
        text-decoration: none;
        transition: all;
        translate: 1s;
    }
}
@media (min-width: 992px) {
    .header-wrapper .menu li .submenu li a {
        text-transform: capitalize;
        font-weight: 600;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: #292929;
    }
}
@media (min-width: 992px) {
    .header-wrapper .menu > li > a:hover::before, .header-wrapper .menu > li > a.active::before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}
@media (min-width: 992px) {
    .header-wrapper .menu > li > a::before {
        width: calc(100% - 10px);
        height: 2px;
        background: #31d7a9;
        top: calc(100% + 30px);
        position: absolute;
        content: "";
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all ease 0.3s;
        transition: all ease 0.3s;
        -webkit-transform-origin: left;
        transform-origin: left;
    }
}
@media (max-width: 991px) {
    .header-wrapper .menu {
        display: none;
        position: fixed;
        background: #0a1e5e;
        width: 100%;
        max-width: 500px;
        top: 80px;
        left: 0;
        padding-left: 15px;
        height: calc(100vh - 80px);
        overflow-y: scroll;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media (min-width: 992px) {
    .header-wrapper .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.header-wrapper .menu li.header-button a {
    background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
    padding: 10px 39px;
    font-weight: 600;
    border-radius: 25px;
    display: inline-block;
}
.header-bar span:nth-child(2) {
    top: 52%;
    -webkit-transform: translateY(-65%);
    transform: translateY(-65%);
}

@media (max-width: 991px) and (min-width: 576px) {
    .header-wrapper .menu {
        padding-left: 45px;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .header-wrapper .menu {
        padding-left: 50px;
    }
}
@media (max-width: 767px) {
    .banner-section {
        padding: 220px 0 151px;
    }
}
@media (max-width: 991px)  {
    .banner-section {
        padding: 229px 0 164px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .header-wrapper .menu li a {
        font-size: 14px;
    }
}
/* FOOTER*/


.footer-section::before {
    bottom: 0;
    right: 0;
    left: 0;
    top: 80px;
    -webkit-mask-image: url(../../assets/images/footer/footer-shape.png);
    mask-image: url(../../assets/images/footer/footer-shape.png);
    -webkit-mask-position: top center;
    mask-position: top center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-size: cover;
    -webkit-mask-size: cover;
    background: #0a1e5e;
}
.newslater-container::after {
    background-image: -webkit-linear-gradient(0deg, #7400ba 0%, #0f5ae0 100%);
    opacity: 0.8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.newslater-wrapper {
    max-width: 540px;
    margin: 0 auto;
}

.newslater-container * {
    position: relative;
    z-index: 1;
}
.newslater-wrapper .cate {
    color: #31d7a9;
    margin-bottom: 23px;
}
.newslater-container {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    padding: 60px 20px;
    text-align: center;
}
input, button, select {
    height: 50px;
    color: #dbe2fb;
}
.newslater-wrapper .title {
    margin-bottom: 50px;
}
.newslater-wrapper .title, .newslater-wrapper .cate {
    text-transform: uppercase;
}
.newslater-form input {
    height: 50px;
    padding-right: 160px;
    color: #99abe2;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    padding-left: 20px;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
}
.padding-bottom {
    padding-bottom: 80px;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.newslater-form button {
    position: absolute;
    right: 0;
    top: 0;
    background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
    -webkit-box-shadow: 0px 10px 15px 0px rgba(59, 55, 188, 0.5);
    box-shadow: 0px 10px 15px 0px rgba(59, 55, 188, 0.5);
    width: auto;
    padding: 0 40px;
    border-radius: 25px;
    border: none;
}
.footer-top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 10px;
}
.footer-top, .footer-bottom-area {
    position: relative;
    z-index: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.social-icons li {
    margin: 7.5px;
}
.footer-top > * {
    padding-bottom: 20px;
    margin-bottom: 0;
}
.social-icons li a {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #ffffff;
    font-size: 14px;
}
.social-icons li a.active {
    background: #31d7a9;
    border-color: #31d7a9;
}
.footer-bottom .footer-bottom-area {
    margin-bottom: -25px;
}
.footer-bottom-area {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}
.footer-top, .footer-bottom-area {
    position: relative;
    z-index: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer-bottom .links li a {
    color: #dbe2fb;
}
.footer-bottom .links li {
    padding: 0 15px;
}
.footer-bottom {
    padding: 25px 0;
}
.social-icons {
    margin: -7.5px;
}
.footer-section .footer-top .social-icons a{
    transition: 0.3s;
}
.footer-section .footer-top .social-icons a:hover{
    background-color: #31d7a9;
}
@media (min-width: 992px) {
    .footer-section::before {
        top: 120px;
    }
}
@media (min-width: 992px) {
    .padding-bottom {
        padding-bottom: 120px;
    }
}
